{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="common">
    <h2 class="title">Experience</h2>
    {% for exp in experience %}
        <div class="items">
            <div class="item-title">{{exp.title}}</div>
            <div class="item-inst">{{exp.institution}}
                <span class="time">{{exp.time}}</span>
            </div>
            <div class="item-content">{{exp.onesentence}}
                {% if exp.description or exp.links %}
                    <span class="bttn-loc">
                        <input class="bttn" type="button" onclick="growDiv('exp-grow{{forloop.index}}', 'exp-button{{forloop.index}}')" value="details" id="exp-button{{forloop.index}}">
                    </span>
                {% endif %}
            </div>
            <div class="detail" id="exp-grow{{forloop.index}}">
                <div class='measuringWrapper'>
                    {% if exp.description %}
                        <div class="item-content">
                            <span class="detail-key">Description: </span>{{exp.description}}
                        </div>
                    {% endif %}
                    {% if exp.links %}
                        <div class="item-content">
                            <span class="detail-key">Materials: </span>
                            {% for link in exp.links %}
                                [<a class="content-link" href="{{link.value}}">{{link.key}}</a>]
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</section>
{% endif %}