{% assign others = site.data.data.others %}
{% if others %}
<section class="projects">
    <h2 class="title">Others</h2>
    <div class="project">
        <!-- <h4 class="others-title">Others</h4> -->
        <span class="content">
            -
            <span style="font-weight: bold;">
                Manager at
                <a class="project-link" href="https://sites.google.com/khu.ac.kr/mlvclab/team" style="text-decoration: underline;">MLVC</a>
                Lab.<span style="font-weight: normal;">, Kyung Hee University</span>
                <span class="time">Jan 2021 - Dec 2021</span>
            </span>
        </span>
        <br>
        <span class="content">
            - Teaching assistant at a deep learning course using CUDA programming
            <a href="#demo" class="btn btn-info" data-toggle="collapse">Simple collapsible</a>
            <div id="demo" class="collapse">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </span>
    </div>

</section>
{% endif %}