{% assign others = site.data.data.others %}
{% if others %}
<section class="common">
    <h2 class="title">Others</h2>
    <div class="items">
        <div class="item-content" style="margin-bottom: 7px;">
            - Lab leader at <a class="content-link" href="https://sites.google.com/khu.ac.kr/mlvclab/team" style="color: var(--fg-color-body);">MLVC</a>, Kyung Hee University
            <span class="time">Jan 2021 - Dec 2021</span>
        </div>
        <div class="item-content" style="margin-bottom: 7px;">
            - Teaching assistant at a deep learning course using CUDA programming
            <span class="time">Sept 2021 - Dec 2021</span>
        </div>
        <div class="item-content" style="margin-bottom: 7px;">
            - Registration of two patents for daily supplies
            <span class="time">Apr 2013 - Aug 2013</span>
        </div>
    </div>
</section>
{% endif %}
