{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="common">
    <h2 class="title">Publications</h2>
    {% for pub in publications%}
        <div class="items">
            <div class="item-title">{{pub.title}}</div>
            <div class="item-content">{{pub.authors}}</div>
            <div class="item-inst">{{pub.conference}}
                {% if pub.details or pub.links %}
                    <span class="bttn-loc">
                        <input class="bttn" type="button" onclick="growDiv('pub-grow{{forloop.index}}', 'pub-button{{forloop.index}}')" value="details" id="pub-button{{forloop.index}}">
                    </span>
                {% endif %}
            </div>
            <div class="detail" id="pub-grow{{forloop.index}}">
                <div class='measuringWrapper'>
                    {% if pub.details %}
                        {% for det in pub.details %}
                            <div class="item-content">
                                <span class="detail-key">{{det.key}}: </span>{{det.value}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if pub.links %}
                        <div class="item-content">
                            <span class="detail-key">Materials: </span>
                            {% for link in pub.links %}
                                [<a class="content-link" href="{{link.value}}">{{link.key}}</a>]
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</section>
{% endif %}