.interests {
    margin-bottom: 30px;
    .title {
        @include sub-header;
    }
    .interests-item {
        margin-bottom: 5px;
        .domain {
            @include body-text;
            font-weight: bold;
        }
    }
}