.projects {
    .title {
        @include header;
    }
    .project {
        margin-bottom: 10px;
        a {
            text-decoration: none;
            font-weight: bold;
            @include body-text; 
        }
        .project-link {
            @include body-text;
        }
        .details {
            @include body-text;
        }

        .time {
            // font-size: 12px;
            float: right;
            color: var(--fg-color-title-sm);
            font-weight: 100;
            font-style: normal;
        }
        .institution {
            @include body-text; 
            color: var(--fg-color-title-sm);
            font-weight: 100;
            font-style: italic;
        }
        // For others
        .others-title{
            @include sub-header;
        }
        .content {
            // text-decoration: none;
            // font-weight: bold;
            @include body-text;
        }
    }
}